<!DOCTYPE html>
<html>
  <head>
    <title>Music Title</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/"><img class="picto" src="/images/music.svg"> Music title</a>
      <a href="/my-playlist"><img class="picto" src="/images/playlist.svg"> Playlist</a>
    </nav>
    <div id="content">
      <h1>Make your choice</h1>
     <div id="filter">
          <img class="picto" src="/images/filter.svg">
          <a href="/pop?type=pop">Pop</a>
          <a href="/pop?type=rock">Rock</a>
          <a href="/pop?type=rnb">R&B</a>
      </div>
      <div id="sort">
        <a href="#">Date</a>
        <img class="picto" src="/images/sort.svg">
      </div>

      <ul>
        <% for(i=0; i < musicList.length; i++) { %>
        <li>
          <a href="/add-title?title=<%= musicList[i].title %>&artist=<%= musicList[i].artist %>&year=<%= musicList[i].year %>">
            <input type="hidden" name="position" value="<%= i %>">
            <img class="picto" src="/images/add.svg">
            <%= musicList[i].title %> - <%= musicList[i].artist %> - <%= musicList[i].year %>
          </a>
        </li>
        <% } %>
      </ul>

    </div>
  </body>
</html>
